<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="LOG_DATE" datePattern="yyyyMMdd"/>

    <!-- CONSOLE -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [traceId=%X{traceId}] [%thread] [%logger{40}] - %msg%n"/>
    <!-- https://logback.qos.ch/manual/appenders.html -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="io.netty.util" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
